<%- include("templates/header") %> 
    <h1>Hello <%= email %></hi>
       <br>
       <img src="<%= image %>"/>
       <form action='/todo' method='get'>
        <button>TODO</button>
       </form>
        <form action='/logout' method='get'>
            <button>Sign out</button>
        </form>
<%- include("templates/footer") %> 